<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <img src="{% static 'logotipo_ipg.jpg' %}" alt="IPG Logo"></img>
        <h2 id="title" >{{ title }}</h2>
        {% comment %} <h3>{{status}}</h3> {% endcomment %}
        <div>
            <form id="form" method="post">
                <h3>{{page}}</h3>
                {% csrf_token %}
                <div>
                    <label>User: </label>
                    <input name="username" type="text" id="username" value="{{username}}" maxlength="200" required></input>
                    <div style="height: 20px;">
                        {% if status == "validation_error" %}
                            {% if password_entirely_numeric %}
                                <p class="errorMensage">Senha inteiramente númerica</p>
                            {% elif password_too_short %}
                                <p class="errorMensage">Senha muito curta</p>
                            {% elif password_too_common %}
                                <p class="errorMensage">Senha muito comum</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div>
                    <label>Password:</label>
                    <input name="password" type="password" id="password" value="{{password}}" maxlength="200" required></input>
                    <div style="height: 20px;">
                        {% if status == "username_already_exists" %}
                            <p class="errorMensage">Esse usuário já existe</p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <label>Confirm Password:</label>
                    <input name="password_confirm" type="password" id="password_confirm" value="{{password_confirm}}" maxlength="200" required></input>
                    <div style="height: 20px;">
                        {% if status == "different_passwords" %}
                            <p class="errorMensage">As senhas não coincidem</p>
                        {% endif %}
                    </div>
                </div>
                <div>
                    <input type="submit" value="Sign in"></input>
                    <br><br>
                    <a href="{% url 'login' %}"><small>Login</small></a>
                </div>
            </form>
        </div>
    </body>
</html>
