<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <img src="{% static 'logotipo_ipg.jpg' %}" alt="IPG Logo"></img>
        <h1 id="title" >{{ title }}</h1>
        <h2>{{page}}</h2>
        {% comment %} <h3>{{status}}</h3> {% endcomment %}
        <div>
            <form id="form" method="post">
                {% csrf_token %}
                <div class="fieldContent">
                    <label>User: </label>
                    <input name="username" type="text" id="username" value="{{username}}" maxlength="200" required></input>
                    {% if status == "username_already_exists" %}
                        <p class="errorMensage">Esse usuário já existe</p>
                    {% endif %}
                </div>
                <div class="fieldContent">
                    <label>Password:</label>
                    <input name="password" type="password" id="password" value="{{password}}" maxlength="200" required></input>
                </div>
                <div class="fieldContent">
                    <label>Confirm Password:</label>
                    <input name="password_confirm" type="password" id="password_confirm" value="{{password_confirm}}" maxlength="200" required></input>
                    {% if status == "different_passwords" %}
                        <p class="errorMensage">As senhas não coincidem</p>
                    {% endif %}
                </div>
                <div>
                    <input type="submit" value="Sign in"></input>
                </div>
            </form>
        </div>
    </body>
</html>
