<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1 id="title" >{{ title }}</h1>
        <h2>{{page}}</h2>
        <div>
            <form id="loginForm">
                <div class="fieldContent">
                    <label>User: </label>
                    <input type="text" id="username"></input>
                </div>
                <div class="fieldContent">
                    <label>Password:</label>
                    <input type="password" id="password"></input>
                </div>
                <div class="fieldContent">
                    <label>Confirm Password:</label>
                    <input type="password" id="passwordConfirm"></input>
                </div>
                <div>
                    <input type="submit" value="Sign in"></input>
                </div>
            </form>
        </div>
    </body>
</html>
