body {
    text-align: -webkit-center;
}

#form {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    width: min-content;
}

.fieldContent {
    margin-bottom: 20px;
}

.errorMensage {
    color: #d93025;
    font-size: 12px;
    margin: 0;
}